*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}
body {
    background: #222;
}
.card {
    width: 90%;
    max-width: 440px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
    border-radius: 20px;
    margin: 40px auto 25px;
    padding: 40px 35px;
    text-align: center;
}
.search {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search input {
    border: 0;
    outline: 0;
    background-color: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}
.search button {
    border: 0;
    outline: 0;
    background-color: #ebfffc;
    border-radius: 50px;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.search button img{
    width: 16px;
}
.weather-icon {
    width: 170px;
    margin-top: 30px;
}
.weather h1{
    font-size: 65px;
    font-weight: 500;
}
.weather h2 {
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    margin-top: 50px;
}
.col {
    display: flex;
    align-items: center;
    text-align: left;
}
.col img {
    width: 40px;
    margin-right: 10px;
}
.humidity, .wind {
    font-size: 25px;
    margin-top: -7px;
}
.weather {
    display: none;
}
.error {
    text-align: left;
    margin-left: 10px;
    font-size: 18px;
    margin-top: 10px;
    display: none;
}
#title {
    color: #fff;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 0;
}